#title {
    margin-top: 3rem;
    text-align: center;
}

#title a {
    color: #000;
    text-decoration: none;
}

#title a:hover {
    color: #000;
    text-decoration: underline;
}

th {
    padding-top: 0px;
}

td.user, th.user {
    width: 12rem;
}

td.dtf, th.dtf {
    width: 6rem;
}

#keygen, #room, #name, #footer {
    text-align: center;
}

input[disabled].button-primary {
  color: #FFF;
  background-color: #ccc;
  border-color: #ccc;
}

input[disabled].button-primary:hover, input[disabled].button-primary:focus {
  color: #FFF;
  background-color: #ccc;
  border-color: #ccc;
}
